<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medicine.business.mapper.TbJournalismMapper">

    <resultMap type="TbJournalism" id="TbJournalismResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="contents"    column="contents"    />
        <result property="heat"    column="heat"    />
        <result property="releaseTime"    column="release_time"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTbJournalismVo">
        select id, type, contents, heat, release_time, status, create_by, create_time, update_by, update_time, remark from tb_journalism
    </sql>

    <select id="selectTbJournalismList" parameterType="TbJournalism" resultMap="TbJournalismResult">
        <include refid="selectTbJournalismVo"/>
        <where>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="contents != null  and contents != ''"> and contents = #{contents}</if>
            <if test="heat != null "> and heat = #{heat}</if>
            <if test="releaseTime != null "> and release_time = #{releaseTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectTbJournalismById" parameterType="Long" resultMap="TbJournalismResult">
        <include refid="selectTbJournalismVo"/>
        where id = #{id}
    </select>

    <insert id="insertTbJournalism" parameterType="TbJournalism" useGeneratedKeys="true" keyProperty="id">
        insert into tb_journalism
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">type,</if>
            <if test="contents != null and contents != ''">contents,</if>
            <if test="heat != null">heat,</if>
            <if test="releaseTime != null">release_time,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">#{type},</if>
            <if test="contents != null and contents != ''">#{contents},</if>
            <if test="heat != null">#{heat},</if>
            <if test="releaseTime != null">#{releaseTime},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTbJournalism" parameterType="TbJournalism">
        update tb_journalism
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="contents != null and contents != ''">contents = #{contents},</if>
            <if test="heat != null">heat = #{heat},</if>
            <if test="releaseTime != null">release_time = #{releaseTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbJournalismById" parameterType="Long">
        delete from tb_journalism where id = #{id}
    </delete>

    <delete id="deleteTbJournalismByIds" parameterType="String">
        delete from tb_journalism where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
